<% title "Publisher Network Logins" %>

<% @title_bar_right_text = '<a href="' + new_publisher_network_login_path + '"><img alt="" src="/images/icons/add.png"></a> ' + (link_to "Create New Credentials", new_publisher_network_login_path) %>

<div class="filter_form" id="filter_form">
  <form>
    <ul>
	  
	  <% if current_user.is_admin? %>
        <li>
          <%= label_tag :publisher %>
          <!-- FIXME. Use built in rails helper instead? -->
          <select name="publisher_id" id="publisherDD">
            <option value="">
            <%= options_from_collection_for_select @publishers, :id, :site_name, params[:publisher_id].to_i %>
          </select>
          <%= link_to_remote "Filter Networks by Publisher", :update => "network_dd_html",
                  :url => {:controller => "networks", :action => "dropdown" },
                  :before => "$('network_dd_html').html = 'Laoding...'",
                  :with => "'publisher_id=' + $('publisherDD').value"%>

        </li>
      <% end %>

    <li>
      <%= label_tag :network %>
      <span id="network_dd_html">
      <select name="network_id" id="networkDD">
        <option value="">
        <%= options_from_collection_for_select @networks, :id, :network_name_and_id, params[:network_id].to_i %>
      </select>
      </span>
    </li>
    <li><%= liftium_submit "Filter Credentials"%>
        <%= liftium_reset %>
    </li>
  </form>
</div>

<br />

<% for publisher in @loop_publishers %>
  <% networks = publisher.active_networks( @limit_to_network_id ) || [ ] %>
  
  <% publisher.publisher_network_logins.map do |pnl| 
       networks.push pnl.network
     end
  
     ### remove 'nil' with compact   
     networks.compact!
     networks.uniq!  
  %>
  
  <% if !networks.empty? %>
  
    <h2><%= link_to publisher.site_name, publisher_path( publisher ) %></h2>
    <table class="record_listing" width="100%" cellspacing="0" cellpadding="0"><!-- Cellspacing/paddding added for IE 6 -->
      <tr class="record_listing_header">
        <th>Network</th>
        <th>Username</th>
        <th>Password</th>
        <th>Actions</th>
        <th>Instructions</th>
      </tr>

      <% for network in networks %>

        <%# find the log in for it if we have it %>        
        <% pnl = PublisherNetworkLogin.first( :conditions => {
                    :publisher_id => publisher.id,
                    :network_id   => network.id
             })
        %>
      
        <tr class="record_row_<%= cycle("odd", "even")%>">

          <td class="record_column" width="175">
            <% if current_user.is_admin? %>
              <%= link_to network.network_name_and_id, network_path( network ) %>
            <% else %>
              <%= network.network_name %>
            <% end %>  
          </td>
          
          <% if pnl %>
            <td class="record_column"><%=h pnl.username %></td>
            <td class="record_column"><%=h current_user.is_admin? ? pnl.password : '*****' %></td>
            <td class="record_column">
		<%= link_to "View", pnl, :action=> :show %>
		<%= link_to "Edit", edit_publisher_network_login_path(pnl) %>
		<%= link_to "Delete", pnl, :confirm => 'Are you sure?', :method => "delete" %>
	    </td>
            
          <% else %>  
            <td class="record_column">
              <% if network.liftium_username and !network.liftium_username.empty? %>
                <span style="color:red">Liftium Umbrella User</span>
              <% else %>
                N/A
              <% end %>  
            </td>
            <td class="record_column">
              <% if network.liftium_password and !network.liftium_password.empty?%>
                <span style="color:red">Liftium Umbrella Password</span>
              <% else %>
                N/A
              <% end %>            
            </td>
            <td class="record_column"><%= link_to "Create", new_publisher_network_login_path( :publisher_id => publisher.id, :network_id => network.id ) %></td>
          <% end %>
          
          <td class="record_column" width="350">
            <span class="comments" style="font-size:smaller">
	      <%- if !network.reporting_url.blank? %>
	         <%= link_to(truncate(network.reporting_url, :length=>50), network.reporting_url) %><br />
	      <%-end %>
	
             <span title="<%=h network.scraping_instructions %>" class="comments" style="font-size:smaller"><%=h truncate(network.scraping_instructions, :length=> 250) %></span>
            </span>
            <%= render :partial => "shared/publisher_network_login_button", 
                       :locals  => { :pnl => pnl, :network => network, :jsform => false } %>
          </td>         
        </tr>
      <% end %>
    </table>
  <% end %>
  
  <br />
  
<% end %>    



