<% form_for @user, :url => change_password_user_path(@user), :html => {:method => :put} do |f| %>
  <%= f.error_messages %>
  <div class="fieldset">
    <%= f.label :old_password %><br />
    <%= password_field_tag :old_password, nil, {:style=> "width: 200px"} %>
  </div>

  <div class="fieldset">
    <%= f.label :password %><br />
    <%= f.password_field :password,  {:style=> "width: 200px"}%>
  </div>
  <div class="fieldset">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation,  {:style=> "width: 200px"}%>
  </div>
  <p><%= liftium_submit "Change password" %></p>
<% end %>
