<% @title_bar_right_text = '<a href="' + new_user_path + '"><img alt="" src="/images/icons/add.png"></a> ' + (link_to "Create New User", new_user_path) %>

<% title "User " + @user.email %>

<p>
  <strong>Email:</strong>
  <%=h @user.email %>
</p>
<p>
  <strong>Publisher:</strong>
  <% if @user.publisher %>
    <%= link_to @user.publisher.site_name, @user.publisher %>
  <% else %>
     -
  <% end %>
</p>
<p>
  <strong>Time Zone:</strong>
  <%=h @user.time_zone %>
</p>

<% if current_user.is_admin? %>
    <p>
      <strong>Current Time:</strong>
      <%=h Time.zone.now.to_s %>
    </p>

    <p>
      <strong>Power User:</strong>
      <%=h @user.power_user_s %>
    </p>

    <p>
      <strong>Administrator:</strong>
      <%=h @user.admin_s %>
    </p>
    
    <!--
    <p>
      <strong>Single Access Token:</strong>
      <%=h @user.single_access_token %>
    </p>
    -->
    <p>
      <strong>Login Count:</strong>
      <%=h number_with_delimiter(@user.login_count) %>
    </p>
    <p>
      <strong>Failed Login Count:</strong>
      <%=h number_with_delimiter(@user.failed_login_count) %>
    </p>
    <p>
      <strong>Current Login At:</strong>
      <%=h @user.current_login_at %>
    </p>
    <p>
      <strong>Last Login At:</strong>
      <%=h @user.last_login_at %>
    </p>
    <p>
      <strong>Current Login Ip:</strong>
      <%=h @user.current_login_ip %>
    </p>
    <p>
      <strong>Last Login Ip:</strong>
      <%=h @user.last_login_ip %>
    </p>
<% end %>

<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Change Password", new_change_password_user_path(@user) %> 

  <% if current_user.is_admin? %>
    |
    <%= link_to "Delete", @user, :confirm => 'Are you sure?', :method => :delete, :action => "destroy" %> |
    <%= link_to "View All", users_path %>
  <% end %>
</p>
