<% username     = pnl ? pnl.username : network.liftium_username %>
<% password     = pnl ? pnl.password : network.liftium_password %>    
<% show_hint    = show_hint || nil %>
<% config       = network.network_config( 
                    :username => username, :password => password ) %>
<%# we get nil class exceptions in production when there's no entry in
    the config. Not in development though. So be uber paranoid %>
<% action       = nil
   if config and !config.empty? and config["action"] and !config["action"].empty?
     action = config["action"]
   end
%>

<%# no login unless we have a username & password %>
<% if username and password %>
  <% if action %>
    <%# automated login %>
    <% if params = config["params"] %>
      <%= external_form_post "Login", action, params %>          
    <%# login link %>
    <% else %>
      <%= link_to "Login", action, :popup => true %>
      <% if show_hint %>
        <br /><span class="hint"><%= "#{username}/#{password}" %></span>
      <% end %>        
    <% end %>
  <%# we got nothing %>  
  <% else %>
    N/A
  <% end %>
<%# no username/password but a link %>  
<% elsif action %>
  <%= link_to "Login", action, :popup => true %>
  <% if show_hint %>
    <br /><span class="hint"><%= "No Info" %></span>
  <% end %>    
<%# we got nothing %>
<% else %>
  N/A
<% end %> 
