<% form_for @publisher do |f| %>
  <%= f.error_messages %>
  <div class="fieldset">
    <%= f.label :site_name %>*<br />
    <%= f.text_field :site_name %>
  </div>
  <div class="fieldset">
    <%= f.label :site_url %>*<br />
    <%= f.text_field :site_url %>
  </div>
  <div class="fieldset">
    <%= f.label :site_description %><br />
    <%= f.text_area :site_description, :rows => 5 %>
  </div>
  <div class="fieldset">
    <%= f.label :site_keywords %><br />
    <%= f.text_field :site_keywords %>
  </div>
  <div class="fieldset">
    <%= f.label :privacy_policy, "Site has a Privacy Policy", :class => "left_label"%>
    <%= radio_button "publisher", "privacy_policy", "true"%>Yes
    <%= radio_button "publisher", "privacy_policy", "false"%>No
  </div>
  <div class="fieldset">
    <%= f.label :category %><br />
    <%= select("publisher", "category", Publisher::CATEGORIES, {:include_blank => true}) %>
  </div>
  <div class="fieldset">
    <%= f.label :brand_safety_level %> <span class="hint">1=janky, 10=Text</span><br />
    <%= select("publisher", "brand_safety_level", [1,2,3,4,5,6,7,8,9,10], {:include_blank => true}) %>
  </div>
  <div class="fieldset">
    <%= f.label :hoptime, "Hop Time" %><br />
    <%= f.text_field :hoptime %>
  </div>
  <div class="fieldset">
    <%= f.label :beacon_throttle %><br />
    <%= f.text_field :beacon_throttle %>
  </div>
  <div class="fieldset">
    <%= f.label :cross_domain_iframe_path %> <span class="hint">for enabling iframe hopping in IE 6/7 - default is /liftium_iframe.html</span><br />
    <%= f.text_field :xdm_iframe_path %>
  </div>
  
  <% if current_user.is_admin? %>
    <div class="fieldset" id="publisher_notes">
      <%= f.label :publisher_notes %> 
      <span class="hint">additional notes for this publisher. Ex. "Call Bob for permission"</span><br />
      <textarea rows="5" cols="60" name="note[publisher]"><%=h !@publisher.comments.empty? ? "#{@publisher.comments[0].comment}" : "" %></textarea>
    </div>
  <% end %>
  
  <p><%= liftium_submit "Save Changes" %></p>
<% end %>
