<% @title_bar_right_text = "" %>

<% title "My Ad Formats" %>

<h2>Sizes of ads that you have</h2>

<div style="margin-left:15px; margin-top: 15px">
<% form_for @publisher, :url => { :action => "save_ad_formats" } do |f| %>
  <%= hidden_field_tag "publisher_id", @publisher.id %>
  <%= f.error_messages %>

<%- for ad_format in @ad_formats %>
  <%= check_box_tag "publisher[ad_format_ids][]", ad_format.id, @publisher.ad_formats.include?(ad_format) %>
  <%= ad_format.name_with_size %><br />
<%- end %>
<br>
<br>
  <%= liftium_submit "Save Sizes" %>
</div>

<% end %>
