<% if current_user.is_admin? %>
  <% @title_bar_right_text = publisher_dropdown "Select a Publisher..."%>
  <script>
  function publisherSelect(dd){
	  window.location.href = window.location.pathname + '?publisher_id=' + escape(dd.options[dd.selectedIndex].value);
  }
  </script>
<% end %>

<% title "Ad Quality Control Settings for " + @publisher.site_name %>

<% form_for @publisher, :url => { :action => "save_quality_control" } do |f| %>
  <%= hidden_field_tag "publisher_id", @publisher.id %>
  <%= hidden_field_tag "redirect_back", "1"%>
  <%= f.error_messages %>
<br />
<br />
<h2>Ad Quality</h2>
<span class="hint">Some publishers want to earn more money, some publishers want to have better ads appear on their site. Liftium lets you choose.</span>
<br />
<br />
More revenue
<% for num in (1..10) %>
<%= radio_button_tag name="publisher[brand_safety_level]", num, @publisher.brand_safety_level == num, :title => num %>&nbsp;
<% end %>
Higher Quality Ads
<br />
<br />
<div style="margin-left:50px;">
<h3>Available Networks</h3>
<ul>
<%-for network in @networks %>
  <li title="Network disabled due to quality settings" style="<%= network.brand_safety_level.to_i < @publisher.brand_safety_level.to_i ? "text-decoration:line-through" : ""%>"><%= network.network_name + " - " + network.brand_safety_level.to_s %></li>
<%- end %>
</ul>
</div>
<hr />
<h2>Ad Speed</h2>
 <span class="hint">More revenue can be earned by allowing for more Ad Networks to be polled. You can either choose to have ads load as fast as possible, or have Liftium work harder to earn more revenue.</span>
<br />
<br />
More revenue
<% 
for num in (0..9).to_a.reverse %>
<%= radio_button_tag name="publisher[hoptime]", num*300, @publisher.hoptime == num*300, :title => (num*300).to_s + "ms" %>&nbsp;
<% end %>
Faster Ads
<br />
<br />
<%= liftium_submit "Save Settings" %>
<% end %>
