<% title "Publisher" %>

<p>
  <strong>Site Name:</strong>
  <%=h @publisher.site_name %>
</p>
<% if !@publisher.site_url.blank? %>
<p>
  <strong>Site Url:</strong>
  <a href="<%=h @publisher.site_url %>" target="_blank"><%=h @publisher.site_url %> <img src="/images/icons/house_link.png"/></a>
</p>
<% end %>
<p>
  <strong>Site Description:</strong>
  <span class="comments"><%=h @publisher.site_description %></span>
</p>
<p>
  <strong>Site Keywords:</strong>
  <%=h @publisher.site_keywords %>
</p>
<p>
  <strong>Site has a Privacy Policy:</strong>
  <%=h @publisher.privacy_policy_s %>
</p>
<p>
  <strong>Category:</strong>
  <%=h @publisher.category %>
</p>
<p>
  <strong>Brand Safety Level:</strong>
  <%=h @publisher.brand_safety_level %>
</p>
<p>
  <strong>Hop Time (milliseconds):</strong>
  <%=h number_with_delimiter(@publisher.hoptime) %>
</p>
<p>
  <strong>Cross Domain Iframe Path:</strong>
  <%=h @publisher.xdm_iframe_path %>
</p>

<p>
  <%- if current_user.admin %>
    <%= link_to "Edit", edit_publisher_path(@publisher) %> |
    <%= link_to "View All", publishers_path %> |
    <%= link_to "Delete", @publisher, :confirm => 'Are you sure?', :method => :delete, :action => "destroy" %> |
    <%= link_to "Preview " + @publisher.tags.length.to_s + " ads", :controller => "publishers", :action => :ad_preview, :id => @publisher %> |
    <%= link_to "Network Logins", :controller => "publisher_network_logins", :publisher_id => @publisher.id %> |
    <%= link_to "Tags", :controller=> "tags", :publisher_id => @publisher.id %> 
  <%- end %>
</p>
