<% title "Javascript Error" %>

<p>
  <strong>Publisher:</strong>
  <%= link_to @javascript_error.publisher.site_name, @javascript_error.publisher %>
</p>
<p>
  <strong>When:</strong>
  <%=h @javascript_error.created_at %>
</p>
<p>
  <strong>Error Type:</strong>
  <%=h @javascript_error.error_type %>
</p>
<p>
  <strong>Browser:</strong>
  <%=h @javascript_error.browser %>
</p>
<p>
  <strong>IP:</strong>
  <%=h @javascript_error.ip %>
</p>
<p>
  <strong>Url/Line:</strong>
  Line #<%=h @javascript_error.line %> of <a target="_blank" href="<%=h @javascript_error.url %>"><%=h @javascript_error.url %></a>
</p>
<p>
  <strong>Message:</strong>
  <span class="comments"><%=h @javascript_error.message %></span>
</p>

<p>
  <%= link_to "View All", javascript_errors_path %>
</p>
