<script>
<% # Some sanity checks for common mistakes. Note that these are technically valid, but we just want to confirm. 
%>
function confirmForm(f){
	var msgs = [];
	if (parseInt($("tag_tier").value, 10) <= 8 && $("tag_always_fill_true").checked){
		msgs.push("Tier is above 8, and 'Always fill' is selected (ads in lower tiers won't be filled)"); 
 	}
	if (parseFloat($("tag_value").value) > 10) {
		msgs.push("Value is over $10.00 (usually remnant ads are less than $5)");
 	}
	if (parseInt($("tag_sample_rate").value, 10) > 10){ 
		msgs.push("Sample rate is over 10% (usually sampling is is less than 2%)");
 	}

	if (msgs.length > 0){
		return confirm("The following looks fishy. Are you sure?\n* " + msgs.join("\n* "));
	} else {
		return true;
	}
}
</script>

<% form_for @tag, :html => {"onSubmit" => "return confirmForm(this)"} do |f| %>
  <%= f.error_messages %>
  <% if @tag.network_id %>
     <%= hidden_field_tag "tag[network_id]", @tag.network_id%>
  <% end %>
  <div class="fieldset">
    <%= f.label :tag_name %>* <span class="hint">Ex. Publisher - NetworkAbbrv - Size<br />
    <%= f.text_field :tag_name %>
  </div>
  <div class="fieldset">
    <%= f.label :publisher, nil, :class => "left_label" %>
    <%= collection_select(:tag, :publisher_id, @publishers, :id, :site_name, :include_blank => true) %>
  </div>
  <div class="fieldset">
    <%= f.label :size, nil, :class => "left_label" %>
    <%= select("tag", "size", AdFormat.all.collect {|af| [ af.name_with_size, af.size ] }, :include_blank => true) %>
  </div>
  <div class="fieldset">
    <%= f.label :tier, nil, :class => "left_label" %>
    <%= select("tag", "tier", [10,9,8,7,6,5,4,3,2,1]) %>
  </div>
  <div class="fieldset">
    <%= f.label :value, "Value*", :class => "left_label" %>
    $<%= f.text_field :value, :class => "input_for_number" %>
  </div>
  <div class="fieldset">
    <%= f.label :enabled, nil, :class => "left_label"%>
    <%- if @tag.network.enabled %>
	<%= radio_button "tag", "enabled", "true"%>Yes
	<%= radio_button "tag", "enabled", "false"%>No
    <%- else -%>
	<font color="red"><%= @tag.enabled_s%></font>
	<%- if current_user.is_admin? %>
	  <%= link_to(@tag.network.network_name, @tag.network) %>
	<%- end -%>
    <%- end %>
  </div>
  <div class="fieldset">
    <%= f.label :always_fill, nil, :class => "left_label" %>
    <%= radio_button "tag", "always_fill", "true"%>Yes
    <%= radio_button "tag", "always_fill", "false"%>No
  </div>
  <div class="fieldset">
    <%= f.label :auto_update_ecpm, nil, :class => "left_label" %>
    <%= radio_button "tag", "auto_update_ecpm", "true"%>Yes
    <%= radio_button "tag", "auto_update_ecpm", "false"%>No
    <span class="hint">Value will be updated automatically when revenue is entered</span>
  </div>
  <div class="fieldset">
    <%= f.label :sample_rate , nil, :class => "left_label"%>
    <%= f.text_field :sample_rate, :class => "input_for_number" %>
    <span class="hint">% of time that the ad will appear. Ex. 0.5</span>
  </div>
  <div class="fieldset">
    <%= f.label :frequency_cap, nil, :class => "left_label" %>
    <%= f.text_field :frequency_cap, :class => "input_for_number" %>
    <span class="hint">Max number of times this ad will be loaded within 24 hours. Ex. 3</span>
  </div>
  <div class="fieldset">
    <%= f.label :rejection_time, nil, :class => "left_label" %>
    <%= f.text_field :rejection_time, :class => "input_for_number" %>
    <span class="hint">Wait this many minutes before trying again after a rejection. Ex. 45</span>
  </div>
  <!-- This style will allow for arbitrary key values later -->
  <div class="fieldset">
    <% tt = [{"id"=> "", "key_name" => "", "key_value" => ""}, {"id"=> "", "key_name" => "", "key_value" => ""}]  %>
    <%  # Assure there is a properly constructed array with the things in the right order.
	# http://ewwwabandaid.ytmnd.com/
	for tag_target in @tag.tag_targets do 
	  if (tag_target.key_name == "country")
		tt[0]["id"] = tag_target.id
		tt[0]["key_name"] = "country"
		tt[0]["key_value"] = tag_target.key_value
	  elsif (tag_target.key_name == "browser")
		tt[1]["id"] = tag_target.id
		tt[1]["key_name"] = "browser"
		tt[1]["key_value"] = tag_target.key_value
          end
	end
    %>
    <input type="hidden" name="tag[tag_targets_attributes][0][id]" type="hidden" value="<%=tt[0]["id"] %>" />
    <input type="hidden" name="tag[tag_targets_attributes][0][key_name]" value="country" />
    <%= f.label :country %> <span class="hint">for geo-targeting. comma separated. <%= link_to "Ex. 'us,uk,row'", "http://www.iso.org/iso/english_country_names_and_code_elements", :popup => true %></span><br />
    <input type="text" size="30" name="tag[tag_targets_attributes][0][key_value]" value="<%=h tt[0]["key_value"] %>"/>
  </div>
  <div class="fieldset">
    <input type="hidden" name="tag[tag_targets_attributes][1][id]" type="hidden" value="<%= tt[1]["id"] %>" />
    <input type="hidden" name="tag[tag_targets_attributes][1][key_name]" value="browser" />
    <%= f.label :browser %> <span class="hint">Ex. 'Windows Explorer 6', 'Mac Safari' or 'Firefox'. Comma separated</span><br />
    <input type="text" size="31" name="tag[tag_targets_attributes][1][key_value]" value="<%=h tt[1]["key_value"] %>"/>
  </div>

  <div class="fieldset" id="tag_template_notes">
    <%= f.label :tag_notes %> 
    <span class="hint">additional notes for this tag. Ex. "Stick to tier 10"</span><br />
    <input type="text" size="30" name="note[tag]" value="<%=h !@tag.comments.empty? ? "#{@tag.comments[0].comment}" : "" %>" />
  </div>


<!-- If there is a tag template, present the choice to use the default or override -->


  <input id="tag_toggle_template" type="radio" name="tag_toggle" value="template" onClick="tagToggle(this.value)"/>Use the template for <%= @tag.network.network_name %>
  <input id="tag_toggle_override" type="radio" name="tag_toggle" value="override" onClick="tagToggle(this.value)"/>I want to override and put in my own tag
  <div id="template_tag_block">

  <div class="fieldset" id="tag_template_fieldset">
    <%= f.label :tag_template %><br />
    <%= pretty_tag @tag.network.tag_template %>

  </div>

  <!-- FIXME -->
  <div class="subform" id="tag_options_subform">
  <%if @tag.network.network_tag_options %>
      <%= f.label :tag_options, "Available Options" %>:
     <% @tag.network.network_tag_options.each do |nto| %>
	"<%= nto.option_name %>"<%= nto.required ? " <i>required</i>" : "" %>,
     <% end %>
  <% end %>
  <br />
  <br />
  <div id="tag_options">
  <% f.fields_for :tag_options do |tag_options_form| %>
    <%= render :partial => 'tag_option', :locals=>{:f => tag_options_form} %>
  <% end %>
  </div>
  <%= link_to_new_nested_form "Add a tag option", f, :tag_options %>
  </div>

  </div> <!-- / tag_template_block -->


  <div id="regular_tag_block">
  <div class="fieldset" id="tag_template_fieldset">
    <%= f.label :tag %><br />
    <%= f.text_area :tag, :class => "tag_input" %>
  </div>
  </div>

<script>
function tagToggle(value){
	if (value == "template"){
	  $("regular_tag_block").hide();
	  $("template_tag_block").show();
	  $("tag_toggle_template").checked = true;
	} else {
	  $("regular_tag_block").show();
	  $("template_tag_block").hide();
	  $("tag_toggle_override").checked = true;
	}
}
<%= !@tag.tag.blank? ? 'tagToggle("override");' : 'tagToggle("template");' %>
</script>

  <p><%= liftium_submit "Save Changes" %></p>

<% end %><!-- form_for -->
