<% title "Tag Generator / Publisher Preview" %>

<%= javascript_include_tag "TagGenerator" %>

<%- if Rails.env == "development" %>
  <script>TagGenerator.deliveryHost = "http://nick.dev.liftium.com";</script>
<%- end %>

<form onSubmit="return TagGenerator.generateTag(this);">
 <%- if @publishers %>
  <div class="fieldset">
    <%= label_tag :publisher, nil, :class => "left_label" %>
    <select name="pubid" id="pubid">
    <option value="">Select a Publisher
    <%= options_from_collection_for_select(@publishers, :id, :site_name) %>
    </select>
  </div>
 <%-else%>
  <%= hidden_field_tag "pubid", current_user.publisher_id %>
 <%-end %>
  <div class="fieldset">
    <%= label_tag :size, nil, :class => "left_label" %>
    <select name="size" id="size">
    <option value="">Select a Size
    <%= options_from_collection_for_select(@adformats, :size, :name_with_size) %>
    </select>
  </div>
  <div class="fieldset">
    <%= label_tag :options, nil, :class => "left_label" %>
    <%= check_box_tag("comments", 1, true) %><%= label_tag :comments, "Helpful comments" %> 
    <%= check_box_tag("preview", 1, true) %><%= label_tag :preview, "Show Preview" %>
  </div>
  <div class="fieldset">
    <%= label_tag :delivery, "Delivery Method", :class => "left_label" %>
    <%= radio_button_tag("delivery", "script", true) %>Javascript on page <span class="hint">(recommended)</span>
    <%= radio_button_tag("delivery", "adserver", false) %>Javascript through Ad Server
    <%= radio_button_tag("delivery", "iframe", false) %>Iframe <span class="hint">(contextual targeting reduced)</span>
  </div>
  <div class="fieldset" id="tag_template_fieldset">
    <%= label_tag :tag %><br />
    <%= text_area_tag :tag, nil, :class => "tag_input" %>
  </div>
  <p><%= liftium_submit "Generate Tag" %></p>
</form>
<!-- FIXME: form for remote ?-->
<form id="preview_form" target="preview_iframe" method="post" action="/tags/html_preview"><!-- FIXME: url for html preview? -->
<input type="hidden" name="html"/>
<input type="hidden" name="document_write"/>
</form>
<iframe name="preview_iframe" id="preview_iframe" style="border: 1px dashed #660099;display:none" marginheight="0" marginwidth="0" frameborder="0" scrolling="no"></iframe>
<div id="preview_div" style="border: 1px dashed #660099;display:none"></div>
