<% @title_bar_right_text = '<a href="' + new_tag_path + '"><img alt="" src="/images/icons/add.png"></a> ' + (link_to "Create New Tag", new_tag_path) %>

<% title "Chain Management" %>
<style type="text/css">
.tag_target_block {
	width: 180px;
	max-height: 75px;
	overflow: auto;
	font-size: 7pt;
}
</style>

<div class="filter_form" id="tag_filter_form">
  <% form_tag tags_path, :method => :get, :id => "tags_filter_form" do %>
     <%= hidden_field_tag "date_select", params[:date_select] %>
     <ul>
	<% if params[:debug] -%>
	  <%= params.inspect -%>
	<% end -%>
	<li><%= label_tag :publisher %>
	    <!-- FIXME. Use built in rails helper instead? -->
	    <select name="publisher_id" id="publisherDD">
	      <option value="">
	      <%= options_from_collection_for_select @publishers, :id, :site_name, @publisher_id.to_i %>
	    </select>
	    <%= link_to_remote "Filter Networks by Publisher", :update => "network_dd_html",
                  :url => {:controller => "networks", :action => "dropdown" },
                  :before => "$('network_dd_html').html = 'Laoding...'",
                  :with => "'publisher_id=' + $('publisherDD').value"%>

	</li>
	<li><%= label_tag :network %>
	    <span id="network_dd_html">
	    <select name="network_id" id="networkDD">
	      <option value="">
	      <%= options_from_collection_for_select @networks, :id, :network_name, @network_id.to_i %>
	    </select>
	    </span>
	</li>

	<li><%= label_tag :size %>
	    <select name="size" id="sizeDD">
	      <option value="">
	      <%= options_from_collection_for_select @adformats, :size, :name_with_size, @size %>
	    </select>
	</li>

	<li><%= label_tag :country %>
	    <select name="country" id="countryDD">
	      <option value="">
	      <%= options_for_select @countries, params[:country] %>
	    </select>
	</li>

	<li><%= label_tag :placement %>
	    <select name="placement" id="placementDD">
	      <option value="">
	      <%= options_for_select @placements, params[:placement] %>
	    </select>
	</li>

	<li><%= label_tag "Tag name or ID" %>
	    <%= text_field_tag :name_search, @name_search %>
	</li>

	<li><%= label_tag :include_disabled, "Include Disabled Tags"%>
	    <%= radio_button_tag "include_disabled", "true", !@include_disabled.blank?%>Yes
	    <%= radio_button_tag "include_disabled", "", @include_disabled.blank?%>No
	</li>

<%- if current_user.publisher_id == 999 %>
	<li><%= label_tag :exclude_target, "Exclude Site Specific Tags"%>
	    <%= radio_button_tag "exclude_target", "kv_wgDBname", !@exclude_target.blank?%>Yes
	    <%= radio_button_tag "exclude_target", "", @exclude_target.blank?%>No
	</li>
<%- end %>

	<li><%= liftium_submit "Filter Tags"%>
	    <%= liftium_reset %>
        </li>
  </ul>
  <% end %>
</div>



<form action="/tags/bulk_update" method="post">

<table class="table_form_header" width="100%" cellspacing="0" cellpadding="0">
  <tr><td><%= liftium_submit "Save Values"%></td>
      <td align="right">
	<script>
	// Set the hidden value in the form above and submit it
	function changeInterval(dd) {
		$("date_select").value = dd.options[dd.selectedIndex].value;
		$("tags_filter_form").submit();
	}
	</script>
	<select name="date_select" id="date_selectDD" onChange="changeInterval(this)">
	  <option value="">Fill Rate interval
	  <%= options_for_select(["Last 60 Minutes", "Last 3 Hours", "Last 12 Hours", "Last 24 Hours"], params[:date_select])%>
	</select>
    </td>
  </tr>
</table>
<table class="record_listing sortable" width="100%" cellpadding="0" cellspacing="0" id='tagtable'>
  <thead>
  <tr class="record_listing_header">
    <th>Publisher</th>
    <th>Network</th>
    <th>Tag</th>
    <th>Tier</th>
    <th>Value</th>
    <th>Floor</th>
    <th>Criteria</th>
    <th>Actions</th>
    <th colspan="2" style="border-right:none">Fill Rate</th>
  </tr>
  </thead>
  
<%  @tier_to_color = {
        1   => '#60FC6F',   # light green
        2   => '#50A91E',   # dark green
        3   => '#FEDFAC',   # salmon
        4   => '#FFDB17',   # yellow
        5   => '#FBA80D',   # dark yellow
        6   => '#FC7435',   # orange
        7   => '#D15E63',   # pinkish red
        8   => '#A9FAF4',   # teal
        9   => '#B2CFEC',   # blueish
        10  => '#BB28FF',   # purple
    }
%>

  <tbody>
  <% for tag in @tags %>
        <%= hidden_field_tag "tags[][id]", tag.id %>

   <%- if !tag.enabled or !tag.network.enabled %>
    <tr class="disabled" background="/images/disabled_bg.png">
   <%-else%>
    <tr class="record_row_<%= cycle("odd", "even")%>">
   <%-end%>
      <td class="record_column"><%= link_to tag.publisher.site_name, tag.publisher %></td>
      <td class="record_column"><%= current_user.is_admin? ? link_to( tag.network.network_name, tag.network) : tag.network.network_name %>
	<br />
        <%- pnl = PublisherNetworkLogin.first( :conditions => { :publisher_id => tag.publisher_id, :network_id => tag.network_id }) %>
	<%= render :partial => "shared/publisher_network_login_button",
		:locals  => { :pnl => pnl, :network => tag.network, :show_hint => current_user.admin?, :jsform => true } %><br />
	<%-if tag.network.brand_safety_level.to_i < tag.publisher.brand_safety_level.to_i%>
	  <font color="red">Network below brand safety level</font>
		(<%= link_to tag.publisher.brand_safety_level || "None", :controller=> "publishers", :action => "quality_control", :publisher_id => tag.publisher_id %>)
	<%- end %>
      <td class="record_column" style="width:200px">
	<span title="<%=h !tag.comments.empty? ? tag.comments[0].comment : "" %>">
	    <%= link_to truncate(tag.tag_name, :length=> 40), tag, :action=> :show %><br />
	</span>
        <span style="font-size: smaller">
        #<%= tag.id %>
        <span title="<%=h tag.verbose_size %>"><%= tag.size %></span>
        <%= tag.sample_rate ? "<b>- sampled #{tag.sample_rate}%</b>" : "" %>
        <%= tag.max_daily_impressions ? "- limited to " + number_with_delimiter(tag.max_daily_impressions) + " per day" : "" %>
        <br />Created <%= tag.created_at.strftime('%Y-%m-%d %H:%M') %>
        </span>
      </td>
      <td class="record_column_number" bgcolor="<%= "#{@tier_to_color[tag.tier]}" %>"><select name="tags[][tier]"><%= options_for_select([10,9,8,7,6,5,4,3,2,1], tag.tier)%></select></td>
      <td class="record_column_number" nowrap="true">$<input type="text" style="width:25px" name="<%="tags[][value]"%>" value="<%=h tag.value %>"/>
         <% weekly_ecpm = Revenue.calculate(:avg, 'ecpm', 
		{:conditions => ["tag_id = ? and day >= ?", tag.id, 7.days.ago.to_s(:db) ]}) %>
         <%- if weekly_ecpm %>
	    <% pct_diff = calc_percentage_difference(weekly_ecpm.to_f, tag.value).abs %>
	    <% if tag.value.to_f > 0.25 and pct_diff > 25.0
	    	style = "background-color:#FF9999; color:black; weight:bold"
	       elsif tag.value.to_f > 0.08 and pct_diff > 10.0
	    	style = "color:red"
	       else
	    	style = ""
	       end 
            %>
	    <br />
            <span class="hint" style="<%=style %>">7 day: $<%= weekly_ecpm.to_f.round(2) %></span>
         <%-end %>
         <% last_ecpm = Revenue.first(:first, :conditions => ["tag_id = ?", tag.id], :order => "day DESC") %>
         <%- if last_ecpm %>
	    <% pct_diff = calc_percentage_difference(last_ecpm.ecpm.to_f, tag.value).abs %>
	    <% if tag.value.to_f > 0.25 and pct_diff > 25.0
	    	style = "background-color:#FF9999; color:black; weight:bold"
	       elsif tag.value.to_f > 0.08 and pct_diff > 10.0
	    	style = "color:red"
	       else
	    	style = ""
	       end 
            %>
	    <br />
            <span class="hint" style="<%=style %>">Last: $<%= last_ecpm.ecpm.to_f.round(2) %></span>
         <%-end %>
      </td>
      <td class="record_column_number" nowrap="true">
	<%-if tag.network.supports_threshold %>
	  $<input type="text" style="width:25px" name="<%="tags[][floor]"%>" value="<%=h tag.floor %>"/>
	<%-else %>
	  --
	<%-end %>
      </td>
      <td class="record_column">
	<div class="tag_target_block">
	<%= tag.frequency_cap ? "Freq. cap - #{tag.frequency_cap}<br />" : ""%>
	<%= tag.rejection_time ? "Rej. time  - #{tag.rejection_time}<br />" : ""%>
        <% for criteria in tag.tag_targets do -%>
	  <%= "<b>" + criteria.key_name_h + "</b>: " %>
	  <%=h criteria.key_value_h%><br />
	<% end -%>
        &#160; <!-- So the border shows up when there is no criteria -->
	</div>
      </td>
    <% if current_user.is_power_user? %>
      <td class="record_column" style="text-align:center">
	<nobr>
	<%= link_to "View", tag, :action=> :show %>
	<%= link_to "Edit", edit_tag_path(tag) %>
    <% if current_user.is_admin? %>
      <%= link_to "Delete", tag, :confirm => 'Are you sure?', :method => "delete" %>
    <% end %>  
	</nobr>
	<br />
	<nobr>
         <%= link_to "Copy", "/tags/copy/#{tag.id}", :confirm => "Copy this tag?" %>
	<%- if tag.network.enabled %>
	  <%= link_to (tag.enabled ? "Disable" : "Enable"), "/tags/toggle/#{tag.id}" %>
	<%- else %>
	   Network Disabled
	<%-end %>
        <%= changelog_link(tag) %>
	</nobr>
      </td>
    <% else %>
      <td class="record_action"><%= link_to "HTML Preview", "/tags/html_preview/#{tag.id}", :popup => true %></td>
    <% end %>      
      <td class="record_action" style="font-size:smaller" bgcolor="<%= tag.always_fill ? '#E8FFB7' : '#FFEEEE' %>">
      <% if tag.enabled %>
	  <a href="<%=h url_for :controller => 'charts', :action => 'tag', :id => tag.id %>"><img title="Fill rate for last <%=h params[:date_select]%>, click for more detail" src="<%= tag_sparkline_url tag, date_select_to_graph_range(params[:date_select])%>" width="50" height="25"/></a><br />
      <% end %>
	<% fill_stats = tag.get_fill_stats(params[:date_select])%>
	<%- if fill_stats[:attempts] > 0 %>

	  <%= number_with_delimiter(fill_stats[:attempts]).to_s + " attempts "%><br />
	  <%- if fill_stats[:fill_rate].to_i < 15 %>
	     <span style="color:red" title="Fill rate is very low. Better geo targeting? Rejection time?"> 
	  <%- elsif fill_stats[:fill_rate].to_i == 100 && !tag.floor.nil? %>
	     <span style="background-color:#FF9999; color:black; weight:bold" title="Fill rate is 100%, but a floor is set. This usually indicates that the backup tag is not set up correctly">
	  <%- elsif fill_stats[:fill_rate].to_i > 85 && !tag.floor.nil? %>
	     <span style="color:red" title="Fill rate is very high. Is the floor too low?">
	  <%-end %>
	  <%= number_with_delimiter(fill_stats[:fill_rate]).to_s + "% filled" %>
	  </span>
	<%- else %>
	   0 attempts
	<%- end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
  <tr><td><%= liftium_submit "Save Values"%></td>
</table>
</form>
