<%= render :partial => 'shared/select_timeframe' %>

<% if current_user.is_admin? %>
  <% @show_revenue = true %>

  <% @title_bar_right_text += publisher_dropdown "Select a Publisher..."%>
  <script>
  function publisherSelect(dd){
          window.location.href = window.location.pathname + '?publisher_id=' + escape(dd.options[dd.selectedIndex].value);
  }
  </script>
<% end %>

<% title @publisher.site_name %>
<%= javascript_include_tag "jscharts" %>

<% if params[:debug] %>
Impression graph data: <%= debug(@impressions_graph_data) %><hr />
Impressions: <%= debug(@impressions) %><br />
Previous Impressions: <%= debug(@previous_impressions) %><br />
total_loads <%= debug(@total_loads) %><hr />
stats : <%= debug(@stats) %><hr />
previous_stats : <%= debug(@previous_stats) %><hr />
revenue graph data: <%= debug(@revenue_graph_data) %><hr />
ecpm graph data: <%= debug(@ecpm_graph_data) %><hr />
revenues <%= debug(@revenues) %>
revenue <%= debug(@revenue) %><hr />
revenue_reports <%= debug(@revenue_reports) %>
<% @show_revenue = true %>
<% end %>

<style type="text/css">
.publisher_chart {
	width: 250px;
	height: 200px;
}
#publisher_home_charts {
	font-size: 12px;
}
</style>

<script>
liftiumChart = function (divid, type){
	var c = new JSChart(divid, type);
	c.setSize(260, 200);
	c.setTitleColor('#4D505D');
	c.setFlagColor('#64439C');
	c.setAxisValuesColor('#94968A');
	c.setAxisValuesFontSize(9);
	c.setTitleFontSize(12);
	c.setAxisPaddingBottom(15);
	c.setAxisPaddingTop(40);
	c.setBarValues(false);
	c.setAxisNameX("");
	c.setAxisNameY("");
	c.setShowXValues(false);
	c.setTextPaddingTop(5);
	return c;
};

liftiumChartToolTips = function (chart, data){
	for(var i = 0; i < data.length; i++){
		chart.setTooltip([data[i][0], data[i].join(" - ")]);
	}
};

liftiumPieChart = function (divid){
	var c = new JSChart(divid, "pie");
	c.setSize(500, 450);
	c.setTitleColor('#4D505D');
	c.setPieUnitsColor('#413A7B');
	c.setPieUnitsFontSize(11);
	c.setTitleFontSize(12);
	c.setPieRadius(110);
	return c;
};

/* For the supplied number of values, return various purples */
liftiumColorArray = function(length){
        //var colors = ["#634479", "#775887", "#7D658F", "#9A8BA8", "#490D5F", "#573571"];
        //var colors = ["#64439C","#724993","#5F4894","#564894","#434090","#484E98","#45559C","#1D59A0","#BC0A80","#A41681","#9C428E","#934C93"];
	var colors = ["#A186BE","#8781BD","#8393CA","#7DA7D9","#94BCEB","#BD8CBF"]
        var out = [];
        for (var i=0; i < length; i++){
                out.push(colors[i%colors.length]);
        }
        return out;
};


// Onload Required for IE
window.onload=function(){
	window.ic && ic.draw();
	window.ec && ec.draw();
	window.rc && rc.draw();
	window.npc && npc.draw();
}
</script>
<!-- I know the cool kids use CSS and tableless layout. I'm not cool. -->
<table id="publisher_home_charts">
  <tr>
    <td width="33%">
	<div id="impressions_chart" class="publisher_chart">Loading chart...</div>
	<script type="text/javascript">
	var ic = liftiumChart("impressions_chart", "bar");
	var data = <%= @impressions_graph_data.to_json %>
	liftiumChartToolTips(ic, data);
	ic.setTitle("Impressions for " + <%= params[:date_select].to_json %>);
	ic.setDataArray(data);
	if (data.length == 0){
		$("impressions_chart").innerHTML = "No data available for the selected date range";
		ic = null;
	}
	</script>
	<%=h params[:date_select] %> : <%= number_with_delimiter(@impressions) %>
	<%= percentage_difference(@previous_impressions, @impressions) %>
    </td>
<%- if @show_revenue  %>
    <td width="33%">
	<div id="revenue_chart" class="publisher_chart">Loading chart...</div>
	<script type="text/javascript">
	var rc = liftiumChart("revenue_chart", "bar");
	var data = <%= @revenue_graph_data.to_json %>
	liftiumChartToolTips(rc, data);
	rc.setAxisValuesPrefixY("$")
	rc.setBarValuesPrefix("$")
	rc.setTitle("Revenue for " + <%= params[:date_select].to_json %>);
	rc.setDataArray(data);
	if (data.length == 0){
		$("revenue_chart").innerHTML = "No data available for the selected date range";
		rc = null;
	}
	</script>

	<%=h params[:date_select] %> : $<%= number_with_delimiter(@revenue.round(2)) %>
	<%= percentage_difference(@previous_revenue, @revenue) %>
    </td>
    <td width="33%">
	<div id="ecpm_chart" class="publisher_chart">Loading...</div>
	<script type="text/javascript">
	var ec = liftiumChart("ecpm_chart", "bar");
	var data = <%= @ecpm_graph_data.to_json %>
	liftiumChartToolTips(ec, data);
	ec.setAxisValuesPrefixY("$")
	ec.setBarValuesPrefix("$")
	ec.setTitle("eCPM for " + <%= params[:date_select].to_json %>);
	ec.setDataArray(data);
	if (data.length == 0){
		$("ecpm_chart").innerHTML = "No data available for the selected date range";
		ec = null;
	}
	</script>

	<%=h params[:date_select] %> : $<%= @ecpm.round(2) %>
	<%= percentage_difference(@previous_ecpm, @ecpm) %>
    </td>
  <%- end %><!-- show revenue -->
  </tr>
</table>

<%-if @revenue_reports %>
<br />
<h2>Revenue by size/date/network</h2>
<br />
<table class="record_listing" width="100%">
  <tr class="record_listing_header">
    <th>Day</th>
    <th>Size</th>
    <th>Network</th>
    <th>Impressions</th> 
    <th>Revenue</th>
    <th>eCPM</th>
  </tr>
 <% daily_imp = 0
    daily_revenue = 0.0
  @revenue_reports.each_with_index {|ar,i|
	daily_imp += ar.attempts.to_i
	daily_revenue += ar.revenue.to_f
  %>
    <tr class="record_row_<%= cycle("odd", "even")%>">
      <td class="record_column"><%=h ar.day%></td>
      <td class="record_column"><%=h ar.size%></td>
      <td class="record_column" style="width:200px"><%=h ar.network_name%></td>
      <td class="record_column"><%= number_with_delimiter(ar.attempts)%></td>
      <td class="record_column">$<%= number_with_delimiter(ar.revenue)%></td>
      <td class="record_action">$<%= ar.ecpm.to_f.round(2) %></td>
    </tr>

   <%-if i < @revenue_reports.length-1 and @revenue_reports[i+1].day.to_s != ar.day.to_s %>
    <tr class="record_row_<%= cycle("odd", "even")%>" style="font-weight: bold">
      <td class="record_column" colspan="3" style="text-align:right">Totals for <%=h ar.day %></td>
      <td class="record_column"><%= number_with_delimiter(daily_imp)%></td>
      <td class="record_column">$<%= number_with_delimiter(daily_revenue.round(2))%></td>
      <td class="record_action">$<%= Revenue.calculate_ecpm(daily_imp, daily_revenue).round(2) %></td>
    </tr>
    <% daily_imp = 0
      daily_revenue = 0.0
    %>
   <%- end %>

  <%- } %>

    <tr class="record_row_<%= cycle("odd", "even")%>" style="font-weight: bold">
      <td class="record_column" colspan="3" style="text-align:right">Grand Totals</td>
      <td class="record_column"><%= number_with_delimiter(@revenue_reports.sum(&:attempts))%></td>
      <td class="record_column">$<%= number_with_delimiter(@revenue_reports.sum(&:revenue).to_f.round(2))%></td>
      <td class="record_action">$<%= Revenue.calculate_ecpm(@revenue_reports.sum(&:attempts), @revenue_reports.sum(&:revenue)).round(2) %></td>
    </tr>

</table>
<%-end %>

<hr />
<div style="height:450px;" id="network_revenue_chart" class="publisher_chart">Loading chart...</div>
<script type="text/javascript">
var data = <%= @network_graph_data.to_json %>
if (data.length == 0){
	$("network_revenue_chart").innerHTML = "<br />No data available for the selected date range";
	npc = null;
} else {
	var npc = liftiumPieChart("network_revenue_chart");
	npc.setTitle("Impressions By Network " + <%= params[:date_select].to_json %>);
	npc.setDataArray(data);
	npc.colorize(liftiumColorArray(data.length));
}
</script>
