<%= render :partial => 'shared/select_timeframe' %>

<% if current_user.admin %>
  <% @title_bar_right_text += publisher_dropdown "Select a Publisher..."%>
  <script>
  function publisherSelect(dd){
          window.location.href = window.location.pathname + '?publisher_id=' + escape(dd.options[dd.selectedIndex].value);
  }
  </script>
<% end %>

<% title @publisher.site_name %>
<%= javascript_include_tag "jscharts" %>


<style type="text/css">
.publisher_chart {
	width: 250px;
	height: 200px;
}
#publisher_home_charts {
	font-size: 12px;
}
</style>

<script>
liftiumChart = function (divid, type){
	var c = new JSChart(divid, type);
	c.setSize(250, 200);
	c.setTitleColor('#64439C');
	c.setFlagColor('#64439C');
	c.setTitleFontSize(9);
	c.setAxisPaddingBottom(15);
	c.setAxisPaddingTop(40);
	c.setBarValues(false);
	c.setAxisNameX("");
	c.setShowXValues(false);
	c.setGrid(false)
	return c;
}
liftiumChartToolTips = function (chart, data){
	for(var i = 0; i < data.length; i++){
		//chart.setTooltip([data[i][0]]);
		chart.setTooltip([data[i][0]], data.join(" - "));
	}
}
liftiumPieChart = function (divid){
	var c = new JSChart(divid, "pie");
	c.setSize(400, 350);
	c.setTitleColor('#64439C');
	c.setTitleFontSize(12);
	c.setTextPaddingTop(5);
	c.setAxisPaddingTop(5);
	c.setPieRadius(110);
	return c;
}

// Onload Required for IE
window.onload=function(){
	window.ic && ic.draw();
	window.ec && ec.draw();
	window.rc && rc.draw();
	window.npc && npc.draw();
	window.spc && spc.draw();
}
</script>
<!-- I know the cool kids use CSS and tableless layout. I'm not cool. -->
<table id="publisher_home_charts">
  <tr>
    <td width="33%">
	<h2>Impressions</h2>
	<div id="impressions_chart" class="publisher_chart">Loading chart...</div>
	<script type="text/javascript">
	var ic = liftiumChart("impressions_chart", "bar");
	var data = <%= @impressions_graph_data.to_json %>
	liftiumChartToolTips(ic, data);
	ic.setTitle("Impressions for " + <%= params[:date_select].to_json %>);
	ic.setDataArray(data);
	if (data.length == 0){
		$("impressions_chart").innerHTML = "No data available for the selected date range";
		ic = null;
	}
	</script>
	<%=h params[:date_select] %> : <%= number_with_delimiter(@impressions) %>
	<%= percentage_difference(@previous_impressions, @impressions) %>
    </td>
    <td width="33%">
	<h2>Revenue</h2>	
	<div id="revenue_chart" class="publisher_chart">Loading chart...</div>
	<script type="text/javascript">
	var rc = liftiumChart("revenue_chart", "bar");
	var data = <%= @revenue_graph_data.to_json %>
	liftiumChartToolTips(rc, data);
	rc.setAxisValuesPrefixY("$")
	rc.setBarValuesPrefix("$")
	rc.setTitle("Revenue for " + <%= params[:date_select].to_json %>);
	rc.setDataArray(data);
	if (data.length == 0){
		$("revenue_chart").innerHTML = "No data available for the selected date range";
		rc = null;
	}
	</script>

	<%=h params[:date_select] %> : $<%= number_with_delimiter(@revenue.round(2)) %>
	<%= percentage_difference(@previous_revenue, @revenue) %>
    </td>
    <td width="33%">
	<h2>eCPM</h2>
	<div id="ecpm_chart" class="publisher_chart">Loading...</div>
	<script type="text/javascript">
	var ec = liftiumChart("ecpm_chart", "bar");
	var data = <%= @ecpm_graph_data.to_json %>
	liftiumChartToolTips(ec, data);
	ec.setAxisValuesPrefixY("$")
	ec.setBarValuesPrefix("$")
	ec.setTitle("eCPM for " + <%= params[:date_select].to_json %>);
	ec.setDataArray(data);
	if (data.length == 0){
		$("ecpm_chart").innerHTML = "No data available for the selected date range";
		ec = null;
	}
	</script>

	<%=h params[:date_select] %> : $<%= @ecpm.round(2) %>
	<%= percentage_difference(@previous_ecpm, @ecpm) %>
    </td>
  </tr>
</table>

<table>
  <tr valign="top">
    <td width="475">

	<h2 class="section_break">Top Performing Ad Networks</h2>

	<%-if !@ad_network_revenues || @ad_network_revenues.length == 0 %>
	  No Ad Network data available for the selected date range
	<%- else %>

	<table class="record_listing" width="100%">
	  <tr class="record_listing_header">
	    <th>Ad Network</th>
	    <th>Last Updated</th>
	    <th>Impressions</th>
	    <th>CTR</th> 
	    <th>Revenue</th>
	    <th>eCPM</th>
	  </tr>
	  <%- for ar in @ad_network_revenues %>
	    <tr class="record_row_<%= cycle("odd", "even")%>">
	      <td class="record_column" style="width:200px"><%=h ar.tag.network.network_name%></td>
	      <td class="record_column"><%= ar.max_day.to_date.strftime("%m/%d/%Y") %></td>
	      <td class="record_column"><%= number_with_delimiter(ar.attempts)%></td>
	      <td class="record_column"><%=FillsBase.calculate_fill_rate(ar.clicks, ar.attempts) %>%</td> 
	      <td class="record_column">$<%=h number_with_delimiter(ar.revenue)%></td>
	      <td class="record_action">$<%= Revenue.calculate_ecpm(ar.attempts, ar.revenue).round(2) %></td>
	    </tr>
	  <%- end %>


	    <tr class="record_row_<%= cycle("odd", "even")%>" style="font-weight: bold">
	      <td class="record_column" colspan="2" style="text-align:right">Totals</td>
	      <td class="record_column"><%= number_with_delimiter(@ad_network_revenues.sum(&:attempts))%></td>
	      <td class="record_column"><%=FillsBase.calculate_fill_rate(@ad_network_revenues.sum(&:clicks), @ad_network_revenues.sum(&:attempts)) %>%</td> 
	      <td class="record_column">$<%= number_with_delimiter(@ad_network_revenues.sum(&:revenue))%></td>
	      <td class="record_action">$<%= Revenue.calculate_ecpm(@ad_network_revenues.sum(&:attempts), @ad_network_revenues.sum(&:revenue)).round(2) %></td>
	    </tr>
	</table>

	<%-end  %>

	<h2 class="section_break">Top Performing Ad Sizes</h2>

	<%-if !@ad_network_revenues || @ad_network_revenues.length == 0 %>
	  No Ad Size data available for the selected date range
	<%- else %>

	<table class="record_listing" width="100%">
	  <tr class="record_listing_header">
	    <th>Size</th>
	    <th>Last Updated</th>
	    <th>Impressions</th>
	    <th>CTR</th> 
	    <th>Revenue</th>
	    <th>eCPM</th>
	  </tr>
	  <%- for ar in @ad_size_revenues %>
	    <tr class="record_row_<%= cycle("odd", "even")%>">
	      <td class="record_column" style="width:200px"><%=h ar.tag.size%></td>
	      <td class="record_column"><%= ar.max_day.to_date.strftime("%m/%d/%Y") %></td>
	      <td class="record_column"><%= number_with_delimiter(ar.attempts)%></td>
	      <td class="record_column"><%=FillsBase.calculate_fill_rate(ar.clicks, ar.attempts) %>%</td> 
	      <td class="record_column">$<%=h number_with_delimiter(ar.revenue)%></td>
	      <td class="record_action">$<%= Revenue.calculate_ecpm(ar.attempts, ar.revenue).round(2) %></td>
	    </tr>
	  <%- end %>


	    <tr class="record_row_<%= cycle("odd", "even")%>" style="font-weight: bold">
	      <td class="record_column" colspan="2" style="text-align:right">Totals</td>
	      <td class="record_column"><%= number_with_delimiter(@ad_size_revenues.sum(&:attempts))%></td>
	      <td class="record_column"><%=FillsBase.calculate_fill_rate(@ad_size_revenues.sum(&:clicks), @ad_size_revenues.sum(&:attempts)) %>%</td> 
	      <td class="record_column">$<%= number_with_delimiter(@ad_size_revenues.sum(&:revenue))%></td>
	      <td class="record_action">$<%= Revenue.calculate_ecpm(@ad_size_revenues.sum(&:attempts), @ad_network_revenues.sum(&:revenue)).round(2) %></td>
	    </tr>
	</table>

	<%-end  %>

     <td height="350">
	<div id="network_revenue_chart" class="publisher_chart">Loading chart...</div>
	<script type="text/javascript">
	var data = <%= @network_graph_data.to_json %>
	var npc = liftiumPieChart("network_revenue_chart");
	npc.setTitle("Impressions By Network " + <%= params[:date_select].to_json %>);
	npc.setDataArray(data);
	if (data.length == 0){
		$("network_revenue_chart").innerHTML = "<br />No data available for the selected date range";
		npc = null;
	}
	</script>
	
     </td>
  </tr>
</table>



