<% title "Publisher Home" %>
<%= javascript_include_tag "jscharts" %>

<%= render :partial => 'shared/select_timeframe' %>

<style type="text/css">
.publisher_chart {
	width: 250px;
	height: 200px;
}
#publisher_home_charts {
	font-size: 12px;
}
</style>

<script>
liftiumChart = function (divid, type){
	var c = new JSChart(divid, type);
	c.setSize(250, 200);
	c.setTitleColor('#64439C');
	c.setTitleFontSize(9);
	c.setAxisNameX('');
	c.setAxisNameY('');
	c.setAxisPaddingBottom(15);
	c.setAxisPaddingTop(40);
	c.setGraphLabel("Liftium")
	c.setGraphLabelColor("#64439C")
	c.setGraphLabelFontSize(12)
	c.setGraphLabelOpacity(0.5)
	c.setGrid(false)
	return c;
}
</script>
<!-- I know the cool kids use CSS and tableless layout. I'm not cool. -->
<table id="publisher_home_charts">
  <tr>
    <td width="33%">
	<h2>Impressions</h2>
	<div id="impressions_chart" class="publisher_chart">Loading chart...</div>
	<script type="text/javascript">
	var ic = liftiumChart("impressions_chart", "bar");
	var data = <%= @impressions_graph_data.to_json %>
	ic.setTitle("Impressions for <%= escape_javascript(params[:date_select]) %>");
	ic.setDataArray(data);
	</script>
	<%=h params[:date_select] %> : <%= number_with_delimiter(@impressions) %>
	<%= percentage_difference(@previous_impressions, @impressions) %>
    </td>
    <td width="33%">
	<h2>Revenue</h2>	
	<div id="revenue_chart" class="publisher_chart">Loading chart...</div>
	<script type="text/javascript">
	var rc = liftiumChart("revenue_chart", "bar");
	var data = <%= @revenue_graph_data.to_json %>
	rc.setTitle("Revenue for <%= escape_javascript(params[:date_select]) %>");
	rc.setDataArray(data);
	</script>

	<%=h params[:date_select] %> : $<%= number_with_delimiter(@revenue.round(2)) %>
	<%= percentage_difference(@previous_revenue, @revenue) %>
    </td>
    <td width="33%">
	<h2>eCPM</h2>
	<div id="ecpm_chart" class="publisher_chart">Loading...</div>
	<script type="text/javascript">
	var ec = liftiumChart("ecpm_chart", "bar");
	var data = <%= @ecpm_graph_data.to_json %>
	ec.setTitle("eCPM for <%= escape_javascript(params[:date_select]) %>");
	ec.setDataArray(data);
	</script>

	<%=h params[:date_select] %> : $<%= @ecpm.round(2) %>
	<%= percentage_difference(@previous_ecpm, @ecpm) %>
    </td>
  </tr>
</table>
<script>
// Required for IE
window.onload=function(){
	ic.draw();
	ec.draw();
	rc.draw();
}
</script>
<h2 class="section_break">Top Performing Ad Networks</h2>

<%-if !@ad_network_revenues || @ad_network_revenues.length == 0 %>
  No Ad Network data available for the selected date range
<%- else %>

<table class="record_listing" width="100%">
  <tr class="record_listing_header">
    <th>Ad Network</th>
    <th>Last Updated</th>
    <th>Impressions</th>
    <th>CTR</th> 
    <th>Revenue</th>
    <th>eCPM</th>
  </tr>
  <%- for ar in @ad_network_revenues %>
    <tr class="record_row_<%= cycle("odd", "even")%>">
      <td class="record_column" style="width:200px"><%=h ar.tag.network.network_name%></td>
      <td class="record_column"><%= ar.max_day.to_date.strftime("%m/%d/%Y") %></td>
      <td class="record_column"><%= number_with_delimiter(ar.attempts)%></td>
      <td class="record_column"><%=FillsBase.calculate_fill_rate(ar.clicks, ar.attempts) %>%</td> 
      <td class="record_column">$<%=h number_with_delimiter(ar.revenue)%></td>
      <td class="record_action">$<%= Revenue.calculate_ecpm(ar.attempts, ar.revenue).round(2) %></td>
    </tr>
  <%- end %>


    <tr class="record_row_<%= cycle("odd", "even")%>" style="font-weight: bold">
      <td class="record_column" colspan="2" style="text-align:right">Totals</td>
      <td class="record_column"><%= number_with_delimiter(@ad_network_revenues.sum(&:attempts))%></td>
      <td class="record_column"><%=FillsBase.calculate_fill_rate(@ad_network_revenues.sum(&:clicks), @ad_network_revenues.sum(&:attempts)) %>%</td> 
      <td class="record_column">$<%= number_with_delimiter(@ad_network_revenues.sum(&:revenue))%></td>
      <td class="record_action">$<%= Revenue.calculate_ecpm(@ad_network_revenues.sum(&:attempts), @ad_network_revenues.sum(&:revenue)).round(2) %></td>
    </tr>
</table>

<%-end  %>


<h2 class="section_break">Top Performing Ad Sizes</h2>

<%-if !@ad_network_revenues || @ad_network_revenues.length == 0 %>
  No Ad Size data available for the selected date range
<%- else %>

<table class="record_listing" width="100%">
  <tr class="record_listing_header">
    <th>Size</th>
    <th>Last Updated</th>
    <th>Impressions</th>
    <th>CTR</th> 
    <th>Revenue</th>
    <th>eCPM</th>
  </tr>
  <%- for ar in @ad_size_revenues %>
    <tr class="record_row_<%= cycle("odd", "even")%>">
      <td class="record_column" style="width:200px"><%=h ar.tag.size%></td>
      <td class="record_column"><%= ar.max_day.to_date.strftime("%m/%d/%Y") %></td>
      <td class="record_column"><%= number_with_delimiter(ar.attempts)%></td>
      <td class="record_column"><%=FillsBase.calculate_fill_rate(ar.clicks, ar.attempts) %>%</td> 
      <td class="record_column">$<%=h number_with_delimiter(ar.revenue)%></td>
      <td class="record_action">$<%= Revenue.calculate_ecpm(ar.attempts, ar.revenue).round(2) %></td>
    </tr>
  <%- end %>


    <tr class="record_row_<%= cycle("odd", "even")%>" style="font-weight: bold">
      <td class="record_column" colspan="2" style="text-align:right">Totals</td>
      <td class="record_column"><%= number_with_delimiter(@ad_size_revenues.sum(&:attempts))%></td>
      <td class="record_column"><%=FillsBase.calculate_fill_rate(@ad_size_revenues.sum(&:clicks), @ad_size_revenues.sum(&:attempts)) %>%</td> 
      <td class="record_column">$<%= number_with_delimiter(@ad_size_revenues.sum(&:revenue))%></td>
      <td class="record_action">$<%= Revenue.calculate_ecpm(@ad_size_revenues.sum(&:attempts), @ad_network_revenues.sum(&:revenue)).round(2) %></td>
    </tr>
</table>

<%-end  %>

