<% title "Data Export"
total_attempts = total_loads = total_rejects = total_clicks = total_slip = 0 
total_ecpm = total_revenue = 0.00
%>
<%= render :partial => 'filter_form' %>

<% if !@fill_stats.empty? %>
<table class="record_listing" width="800" cellspacing="0" cellpadding="0"><!-- Cellspacing/padding added for IE 6 -->
  <tr class="record_listing_header">
    <th>Publisher</th>
    <th>Ad Network</th>
    <th>Tag</th>
    <th>Size</th>
    <th><%= @fill_stats[0].time_name %></th>
    <th>Attempts</th>
    <th>Loads</th>
    <th>Rejects</th>
   <%- if params[:interval] == "day" %>
    <th>Clicks</th>
   <%- end %>
    <th>Slip</th>
    <th>Fill Rate</th>
   <%- if params[:interval] == "day" %>
    <th>Revenue</th>
    <th>eCPM</th>
   <%- end %>
  </tr>
  <% counter = 0 %>
  <%- for fill_stat in @fill_stats %>

    <!-- pull in the revenue table -->
    <% if params[:interval] == "day" %> 
      <% rev = Revenue.find( :first, :conditions => {
                             :tag_id => fill_stat.tag.id, :day => fill_stat.day } ) %>
    <% end %>

  
    <%- counter +=1
	if counter > @limit
	  break
        end
    -%>
    <tr class="record_row_<%= cycle("odd", "even")%>">
      <td class="record_column"><a href="<%= publisher_url fill_stat.tag.publisher %>"><%= fill_stat.tag.publisher.site_name%></a></td>
      <td class="record_column"><a href="<%= network_url fill_stat.tag.network %>"><%= fill_stat.tag.network.network_name%></a></td>
      <td class="record_column">#<%= fill_stat.tag_id%> - <a href="<%=tag_url fill_stat.tag %>"><%= fill_stat.tag.tag_name%></a></td>
      <td class="record_column"><%= fill_stat.tag.size%></a></td>
      <td class="record_column"><%=fill_stat.time%></td>
      <td class="record_column"><%= number_with_delimiter(fill_stat.attempts)%></td>
      <td class="record_column"><%= number_with_delimiter(fill_stat.loads)%></td>
      <td class="record_column"><%= number_with_delimiter(fill_stat.rejects)%></td>
    <%- if rev  %>
      <% total_clicks += rev.clicks.to_i %>
      <td class="record_column"><%= number_with_delimiter( rev.clicks )%></td>
    <%- end %>
      <td class="record_column"><%= number_with_delimiter(fill_stat.slip)%></td>
      <td class="record_column"><a href="<%=h url_for :controller => 'charts', :action => 'tag', :id => fill_stat.tag.id %>"><%= fill_stat.fill_rate%>%</a></td>
    <%- if rev
      total_revenue += rev.revenue.to_f
      total_ecpm += rev.ecpm.to_f
      %>
      <td class="record_column">$<%= rev.revenue.to_f.round(2) %></td>
      <td class="record_column">$<%= rev.ecpm.to_f.round(2) %></td>
    <%- end %>
    </tr>
  <%
  # Add up the totals
  total_attempts += fill_stat.attempts
  total_loads += fill_stat.loads
  total_rejects += fill_stat.rejects
  total_slip += fill_stat.slip
  end %>
    <tr class="record_row_<%= cycle("odd", "even")%>" style="font-weight: bold">
      <td class="record_column" colspan="5">Totals</td>
      <td class="record_column"><%= number_with_delimiter(total_attempts)%></td>
      <td class="record_column"><%= number_with_delimiter(total_loads)%></td>
      <td class="record_column"><%= number_with_delimiter(total_rejects)%></td>
    <%- if params[:interval] == "day" %>
      <td class="record_column"><%= number_with_delimiter(total_clicks)%></td>
    <%- end %>
      <td class="record_column"><%= number_with_delimiter(total_slip)%></td>
      <td class="record_column"><%= @fill_stats.length > 0 ? FillsBase.calculate_fill_rate(total_loads, total_attempts).to_s + "%": "-" %></td>
    <%- if params[:interval] == "day" %>
      <td class="record_column">$<%= total_revenue.round(2)%></td>
      <td class="record_column">$<%= @fill_stats.length > 0 ? (total_revenue/total_loads).round(2) * 1000 : "-"%></td>
    <%- end %>
    </tr>
  
</table>
<% end %>
