<% title "Data Export"
total_ecpm = total_revenue = 0.00
total_clicks = 0
 %>
<%= render :partial => 'filter_form' %>

<% if !@fill_stats.empty? && @fill_stats.length > 0 %>
<table class="record_listing" width="800" cellspacing="0" cellpadding="0"><!-- Cellspacing/padding added for IE 6 -->
  <tr class="record_listing_header">
    <th>Publisher</th>
    <th>Ad Network</th>
    <th>Tag</th>
    <th>Size</th>
    <th><%= @fill_stats[0].time_name %></th>
    <th>Attempts</th>
    <th>Loads</th>
    <th>Rejects</th>
   <%- if params[:interval] == "day" %>
    <th>Clicks</th>
   <%- end %>
   <% if current_user.admin? %>
    <th>Slip</th>
   <% end %> 
    <th>Fill Rate</th>
   <%- if params[:interval] == "day" %>
    <th>Revenue</th>
    <th>eCPM</th>
   <%- end %>
  </tr>
  <% counter = 0 %>
  <%- for fill_stat in @fill_stats %>

    <!-- pull in the revenue table -->
    <% if params[:interval] == "day" %> 
      <% rev = Revenue.find( :first, :conditions => {
                             :tag_id => fill_stat.tag.id, :day => fill_stat.day } ) %>
    <% end %>

  
    <%- counter +=1
	if counter > @limit
	  break
        end
    -%>
    <tr class="record_row_<%= cycle("odd", "even")%>">
      <td class="record_column"><a href="<%= publisher_url fill_stat.tag.publisher %>"><%= fill_stat.tag.publisher.site_name%></a></td>
      <td class="record_column">
        <% if current_user.admin? %>
          <a href="<%= network_url fill_stat.tag.network %>"><%= fill_stat.tag.network.network_name%></a>
        <% else %>
          <%= fill_stat.tag.network.network_name %>
        <% end %>  
      </td>
      <td class="record_column">
        #<%= fill_stat.tag_id%> - 
        <% if current_user.admin? %>
          <a href="<%=tag_url fill_stat.tag %>"><%= fill_stat.tag.tag_name%></a>
        <% else %>   
          <%= fill_stat.tag.tag_name %>
        <% end %>  
        </td>
      <td class="record_column"><%= fill_stat.tag.size%></a></td>
      <td class="record_column"><%=fill_stat.time%></td>
      <td class="record_column"><%= number_with_delimiter(fill_stat.attempts)%></td>
      <td class="record_column"><%= number_with_delimiter(fill_stat.loads)%></td>
      <td class="record_column"><%= number_with_delimiter(fill_stat.rejects)%></td>
    <%- if rev  %>
      <td class="record_column"><%= number_with_delimiter( rev.clicks )%></td>
    <%- end %>
      <td class="record_column"><%= number_with_delimiter(fill_stat.slip)%></td>
      <td class="record_column">
        <% if current_user.admin? %>
          <a href="<%=h url_for :controller => 'charts', :action => 'tag', :id => fill_stat.tag.id %>"><%= fill_stat.fill_rate%>%</a>
        <% else %>
          <%= fill_stat.fill_rate %>%
        <% end %>
      </td>
    <%- if rev
	total_revenue += rev.revenue.to_f
	total_ecpm += rev.ecpm.to_f
	total_clicks += rev.clicks.to_i
    %>
      <td class="record_column">$<%= rev.revenue.to_f.round(2) %></td>
      <td class="record_column">$<%= rev.ecpm.to_f.round(2) %></td>
    <%- end %>
    </tr>
  <%- end %>

    <tr class="record_row_<%= cycle("odd", "even")%>" style="font-weight: bold">
      <td class="record_column" colspan="5">Totals</td>
      <td class="record_column"><%= number_with_delimiter(@fill_stats.sum(&:attempts))%></td>
      <td class="record_column"><%= number_with_delimiter(@fill_stats.sum(&:loads))%></td>
      <td class="record_column"><%= number_with_delimiter(@fill_stats.sum(&:rejects))%></td>
    <%- if params[:interval] == "day" %>
      <td class="record_column"><%= number_with_delimiter(total_clicks)%></td>
    <%- end %>
      <td class="record_column"><%= number_with_delimiter(@fill_stats.sum(&:attempts) - (@fill_stats.sum(&:loads) + @fill_stats.sum(&:rejects)))%></td>
      <td class="record_column"><%= @fill_stats.length > 0 ? FillsBase.calculate_fill_rate(@fill_stats.sum(&:loads), @fill_stats.sum(&:attempts)).to_s + "%": "-" %></td>
    <%- if params[:interval] == "day" %>
      <td class="record_column">$<%= total_revenue.round(2)%></td>
      <td class="record_column">$<%= Revenue.calculate_ecpm(@fill_stats.sum(&:loads), total_revenue).round(3)%></td>
    <%- end %>
    </tr>
  
</table>
<% end %>
