<% title "Revenue Entry" %>

<p>
  <strong>Tag:</strong>
  <%= link_to "#{@revenue.tag.tag_name} - #{@revenue.tag.size} (#{@revenue.tag.id})", @tag %>
</p>
<p>
  <strong>Network:</strong>
  <%= link_to "#{@revenue.tag.network.network_name} - #{@revenue.tag.network.pay_type}", @revenue.tag.network %>
</p>
<p>
  <strong>Day:</strong>
  <%=h @revenue.day %>
</p>

<p>
  <strong>Clicks:</strong>
  <%=h @revenue.clicks %>
</p>
<p>
  <strong>Attempts:</strong>
  <%=h @revenue.attempts %>
</p>
<p>
  <strong>Rejects:</strong>
  <%=h @revenue.rejects %>
</p>
<p>
  <strong>Revenue:</strong>
  <%=h @revenue.revenue %>
</p>
<p>
  <strong>Ecpm:</strong>
  <%=h @revenue.ecpm %>
</p>

<p>
  <%= link_to "Edit", edit_revenue_path(@revenue) %> |
  <%= link_to "Delete", @revenue, :confirm => 'Are you sure?', :method => :delete, :action => "destroy" %> |
  <%= link_to "View All", revenues_path %>
</p>
