<tr class="<%= cycle("record_row_odd", "record_row_even") %>">
  <td class="record_column"><%= changelog.description %><br/> 
      <%= distance_of_time_in_words_to_now(changelog.created_at) %> ago<br />
      <%= render_changelog_links(changelog) %>
  </td>
  <td class="record_column"><%= changelog.operation %></td>
  <td class="record_column"><div style="overflow:auto; width:325px;height:125px;"><%= render_diffs(changelog, truncate = true) %></div></td>
  <td class="record_column"><%= render_user(changelog) %></td>
</tr>
