<tr>
  <td><%= changelog.description %></td>
  <td><%= changelog.operation %></td>
  <td><%= changelog.diff %></td>
  <td><%= changelog.user.email %></td>
  <td><%= changelog.created_at %></td>
</tr>
