<%@title_bar_right_text = link_to("Show All", changelogs_path) %>
<% title changelogs_title(params) %>

<div class="filter_form" id="tag_filter_form">
 <% form_tag changelogs_path, :method => :get do -%>
     <ul>
	<li><%= label_tag "record_type" %>
		<select name="record_type" id="record_type">
		<option value="">
		<%= options_for_select(@record_types, params[:record_type]) %>
		</select>
	</li>

        <li><%= label_tag "record_id" %>
            <%= text_field_tag :record_id, params[:record_id] %>
        </li>
        <li><%= label_tag "user_id" %>
            <%= text_field_tag :user_id, params[:user_id] %>
        </li>

	<li><%= label_tag "limit" %> <%= select_tag "entries", options_for_select([10, 25, 50, 100], params[:entries]) %></li>


	<%= submit_tag "Filter" %>
     </ul>
 <% end %>
</div>
<table class="record_listing" with="100%">
  <tr class="record_listing_header">
    <th>Change</th>
    <th>Operation</th>
    <th>Field Changes</th>
    <th>User</th>
  </tr>
  <%= render :partial => "changelog", :collection => @changelogs %>
</table>
