<html>
  <head>
    <title><%= h(yield(:title) || "") %> - Liftium.com</title>
    <%= stylesheet_link_tag 'http://www.liftium.com/css/reset-min.css' %>
    <%= stylesheet_link_tag 'http://www.liftium.com/css/liftium.css?1' %>
    <%= stylesheet_link_tag 'liftium' %>
    <%= javascript_include_tag "prototype" %>
    <%= feedback_includes %>
    <%= yield(:head) %>
  </head>
  <body<%= Rails.configuration.environment =~ /^dev/ && ' background="/images/dev_background.png"'%>>

<%- if current_user %>
  <%= feedback_tab(:position => 'bottom') %>
<%- end %>

<div id="container">
  <div id="header">
	<div class="fixedwidth">
		<ul class="nav">
			<li><a href="http://www.liftium.com/contact-us">Contact Us</a></li>
            <% if current_user %>
              <li><%= link_to "My Account", account_path %>
              <li><%= link_to "Logout", user_session_path, :method => :delete %>
            <% else %>
              <li><%= link_to "Login", new_user_session_path %>
            <% end %>
		</ul>
               <a href="http://www.liftium.com"><img alt="Ad Network Optimization by Liftium.com" title="Ad Network Optimization by Liftium.com" src="http://www.liftium.com/images/logo_white_purple.png" border="0"></a>
	</div>
  </div>

  <!-- Left Nav -->
  <div id="leftnav">
     <%- if current_user %>

      <div class="navsection">
          <!-- publisher only section -->
	  <div class="navsection_header">Publishers</div>
	  <ul>
          <li><%= link_to "Home", :controller => "homes", :action => "publisher" %>
          <!-- common -->
          <li><%= link_to "My Site Info", :controller=> "publishers", :action => "site_info" %>	
          <li><%= link_to "My Ad Formats", :controller=> "publishers", :action => "ad_formats" %>	
          <li><%= link_to "My Ad Networks", publisher_network_logins_url %>
          <li><%= link_to "Ad Quality Settings", :controller=> "publishers", :action => "quality_control" %>	
          <li><%= link_to "Reporting", data_export_url %>	
          <li><%= link_to "Tag Generator", tag_generator_url %>	
	  </ul>
       </div>

     <% if current_user.admin? %>
      <div class="navsection">
          <!-- admin only section -->
	  <div class="navsection_header">Admin</div>
	  <ul>
          <li><%= link_to "Home", :controller => "homes", :action => "admin" %>
          <li><%= link_to "Chain/Tag Mgmt", tags_url %>	
          <li><%= link_to "Ad Network Mgmt", networks_url %>
          <li><%= link_to "User Accounts", users_url %>

          <li><%= link_to "Publishers", publishers_url %>
          <li><%= link_to "Change Logs", changelogs_url %>
          <li><%= link_to "Big Movers", movers_url %>
          <li><%= link_to "Data Entry", revenues_url %>
	  </ul>
       </div>
     <% end %>

       <div class="navsection">
	    <div class="navsection_header">Account</div>
	    <ul>
		<li><%= link_to "My Account", account_path %>
		<li><%= link_to "Logout", user_session_path, :method => :delete %>
	    </ul>
       </div>

     <%- end %><!-- if current_user -->

  </div><!-- /left nav -->

    <!-- Main content -->
  <div id="content">
       <%- if show_title_bar? -%>
	<div id="titlebar">
	      <%- if @title_bar_right_text -%>
		<div id="titlebar_right_text"><%= @title_bar_right_text %></div>
	      <%- end -%>
	      <h1><%=h yield(:title) %></h1>
	</div>
       <%- end -%>

       <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}", :class => "rails_flash" %>
       <%- end -%>

      <%= yield %>

  </div><!-- content -->


  <div id="footer">
     <div class="fixedwidth">

      <div id="copyright">&copy; 2009 Copyright - Liftium</div>
		<ul class="nav">
			<li><a href="http://www.liftium.com/">Home</a></li>
			<li><a href="http://www.liftium.com/publishers">Publishers</a></li>
			<li><a href="http://www.liftium.com/publishers/technology">Technology</a></li>
			<li><a href="http://www.liftium.com/publishers/success-stories">Success Stories</a></li>

			<li><a href="http://www.liftium.com/about-us">About Us</a></li>
                        <!-- <li><a href="http://www.liftium.com/about-us/our-team">Our Team</a></li> -->
                        <!-- <li><a href="http://www.liftium.com/about-us/press">Press</a></li> -->
                        <li><a href="http://www.liftium.com/about-us/careers">Careers</a></li>
			<li class="noborder"><a href="http://www.liftium.com/contact-us">Contact Us</a></li>
		</ul>
      </ul>

    </div><!-- fixedwidth -->
 </div><!-- footer -->

</div><!-- /container -->

</body>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10292921-2");
pageTracker._trackPageview();
} catch(err) {}</script>

</html>
