<html>
  <head>
    <title><%= h(yield(:title) || "") %> - Liftium.com</title>
    <%= stylesheet_link_tag 'http://www.liftium.com/css/reset-min.css' %>
    <%= stylesheet_link_tag 'http://www.liftium.com/css/liftium.css' %>
    <%= stylesheet_link_tag 'liftium' %>
    <%= javascript_include_tag "prototype" %>
    <%= yield(:head) %>
  </head>
  <body<%= Rails.configuration.environment == "development" && ' background="/images/dev_background.png"'%>>

<div id="header">
	<div class="fixedwidth">
		<ul class="nav">
			<li><a href="http://www.dashboard.com/contact-us">Contact Us</a></li>
     			<% if current_user %>
				<li><%= link_to "My Account", account_path %>
				<li><%= link_to "Logout", user_session_path, :method => :delete %>
			<% else %>
				<li><%= link_to "Login", new_user_session_path %>
			<% end %>
		</ul>
	</div>
</div>


    <!-- Left Nav -->
    <div id="leftnav">
     <% if current_user %>

      <div class="navsection">
	    <div class="navsection_header">Publishers</div>
	    <ul>
		<li><%= link_to "Publisher Home", :controller => "homes", :action => "publisher" %>
	    <li><%= link_to "Data Export", data_export_url %>	
		<li><%= link_to "Tag Generator", tag_generator_url %>	
		<li><%= link_to "Tags", tags_url %>	
	    </ul>
       </div>
       <%- if current_user.admin? %>
       <div class="navsection">
	    <div class="navsection_header">Admin</div>
	    <ul>
		<li><%= link_to "Admin Home", :controller => "homes", :action => "admin" %>
		<li><%= link_to "Chain Management", tags_url %>
		<li><%= link_to "Ad Networks", networks_url %>
		<li><%= link_to "User Accounts", users_url %>
		<li><%= link_to "Ad Formats", ad_formats_url %>
		<li><%= link_to "Publishers", publishers_url %>
		<li><%= link_to "Data Entry", revenues_url %>
		<li><%= link_to "Network Logins", publisher_network_logins_url %>
		<li><%= link_to "Change Logs", changelogs_url %>
	    </ul>
       </div>
       <%- end %>

       <div class="navsection">
	    <div class="navsection_header">Account</div>
	    <ul>
		<li><%= link_to "My Account", account_path %>
		<li><%= link_to "Logout", user_session_path, :method => :delete %>
	    </ul>
       </div>

     <%- end %><!-- if current_user -->

    </div><!-- /left nav -->


    <!-- Main content -->
    <div id="container">
      <%- if show_title_bar? -%>
        <div id="titlebar">
		<%- if @title_bar_right_text -%>
		<div id="title_bar_right_text"><%= @title_bar_right_text %></div>
      		<%- end -%>
		<h1><%=h yield(:title) %></h1>
	</div>
      <%- end -%>
      <div id="content">
	<br clear="all"><!-- I hate CSS float -->

       <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}", :class => "rails_flash" %>
      <%- end -%>

      <%= yield %>
	<br clear="all"><!-- I hate CSS float -->
      </div><!-- content -->
    </div><!-- fixedwidth -->
<!-- Someone who knows CSS better than me
    <div id="footer">
		<div id="copyright">&copy; 2009 Copyright - Liftium</div>
		<ul class="nav">
			<li><a href="/">Home</a></li>
			<li><a href="publishers">Publishers</a></li>
			<li><a href="about-us">About Us</a></li>
			<li class="noborder"><a href="contact-us">Contact Us</a></li>
		</ul>
     </div>
-->
  </body>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10292921-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</html>
